<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorHex</key>
	<string>112233</string>
	<key>colorNumber</key>
	<integer>3346722</integer>
	<key>colorCSSRGB</key>
	<string>rgb(22, 33, 44)</string>
	<key>colorCSSName</key>
	<string>green</string>
	<key>colorPattern</key>
	<string>images/Test.png</string>
	<key>colorRedirect</key>
	<string>$colorHex</string>
	<key>sizeAsString</key>
	<string>{1,2}</string>
	<key>sizeAsRedirect</key>
	<string>$sizeAsString</string>
	<key>pointAsString</key>
	<string>{1,2}</string>
	<key>pointAsRedirect</key>
	<string>$pointAsString</string>
	<key>rectAsString</key>
	<string>{{1,2},{3,4}}</string>
	<key>rectAsRedirect</key>
	<string>$rectAsString</string>
	<key>sizeAsDict</key>
	<dict>
		<key>Width</key>
		<integer>3</integer>
		<key>Height</key>
		<integer>4</integer>
	</dict>
	<key>pointAsDict</key>
	<dict>
		<key>X</key>
		<integer>3</integer>
		<key>Y</key>
		<integer>4</integer>
	</dict>
	<key>rectAsDict</key>
	<dict>
		<key>X</key>
		<integer>5</integer>
		<key>Y</key>
		<integer>6</integer>
		<key>Width</key>
		<integer>7</integer>
		<key>Height</key>
		<integer>8</integer>
	</dict>
	<key>string</key>
	<string>this is a string</string>
	<key>stringRedirect</key>
	<string>$string</string>
	<key>data</key>
	<data>cmF3ZGF0YQ==</data>
	<key>dataRedirect</key>
	<string>$data</string>
	<key>dataFile</key>
	<string>data.txt</string>
	<key>imageTest</key>
	<string>images/Test.png</string>
	<key>numberAsNumber</key>
	<integer>1234</integer>
	<key>numberAsString</key>
	<string>3.14</string>
	<key>numberAsRedirect</key>
	<string>$numberAsNumber</string>
	<key>fontAsString</key>
	<string>Helvetica</string>
	<key>fontAsRedirect</key>
	<string>$fontAsDict</string>
	<key>fontAsDict</key>
	<dict>
		<key>face</key>
		<string>Helvetica</string>
		<key>size</key>
		<integer>17</integer>
	</dict>
</dict>
</plist>
