//  Copyright 2012 Itty Bitty Apps Pty. Ltd. All rights reserved.

#include "common/Compiler.xcconfig"
#include "common/Linker.xcconfig"
#include "common/CodeGen.xcconfig"
#include "common/Diagnostics.xcconfig"

OTHER_CFLAGS = $(COMPILER_OTHER_CFLAGS) $(CODE_GENERATION_OTHER_CFLAGS) $(DIAGNOSTICS_OTHER_CFLAGS) 
GCC_PREPROCESSOR_DEFINITIONS = $(CONFIG_GCC_PREPROCESSOR_DEFINITIONS)

PRODUCT_NAME = $(TARGET_NAME)

GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = src/Foundation-Prefix.pch

//// Don't "install" static library
//SKIP_INSTALL = YES
//
//
//// Additional header search path for submodules.
//ITTYBITTYBITS_HEADER_SEARCH_PATHS = $(SRCROOT)/lib/JSONKit
//HEADER_SEARCH_PATHS = $(ITTYBITTYBITS_HEADER_SEARCH_PATHS)


