//
//  Project-IttyBittyBits-Shared.xcconfig
//  IttyBittyBits
//
//  Created by Oliver Jones on 17/06/11.
//  Copyright 2011 Itty Bitty Apps Pty. Ltd. All rights reserved.
//

ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 4.2

// Use Clang/LLVM 2.0
GCC_VERSION = com.apple.compilers.llvm.clang.1_0

// Always run the Static Analyzer with each build (increases build times but worth while).
RUN_CLANG_STATIC_ANALYZER = YES

// Don't "install" static library
SKIP_INSTALL = YES

// Additional header search path for submodules.
HEADER_SEARCH_PATHS = $(SRCROOT)/lib/JSONKit

// Don't hide symbols by default
GCC_SYMBOLS_PRIVATE_EXTERN = NO

// Use C99.
GCC_C_LANGUAGE_STANDARD = gnu99

// All warnings should be treated as errors.
GCC_TREAT_WARNINGS_AS_ERRORS = YES

// Increase the strictness of warning.
GCC_WARN_FOUR_CHARACTER_CONSTANTS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_ABOUT_MISSING_FIELD_INITIALIZERS = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNUSED_LABEL = YES
GCC_WARN_UNUSED_VALUE = YES
GCC_WARN_UNUSED_VARIABLE = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_SHADOW = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES

// Unfortunately setting this to YES breaks the build of JSONKit
GCC_WARN_MULTIPLE_DEFINITION_TYPES_FOR_SELECTOR = NO