//
//  Target-IttyBittyBits-Shared.xcconfig
//  IttyBittyBits
//
//  Created by Oliver Jones on 17/06/11.
//  Copyright 2011 Itty Bitty Apps Pty. Ltd. All rights reserved.
//
OTHER_LDFLAGS = -ObjC
PRODUCT_NAME = $(TARGET_NAME)
ALWAYS_SEARCH_USER_PATHS = NO
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = IttyBittyBits-Prefix.pch
