//  Copyright 2011 Itty Bitty Apps Pty. Ltd. All rights reserved.

// Use Clang/LLVM 3.0
GCC_VERSION = com.apple.compilers.llvm.clang.1_0

// Allow GNU extensions to C99.
GCC_C_LANGUAGE_STANDARD = gnu99

// Choose a standard or non-standard C++ language dialect. GNU++11: Accept the ISO C++ 2011 standard with amendments and GNU extensions.
CLANG_CXX_LANGUAGE_STANDARD = gnu++0x

// User header paths should not take precedence over system header paths.
ALWAYS_SEARCH_USER_PATHS = NO

GCC_ENABLE_ASM_KEYWORD = YES
