//  Copyright 2012 Itty Bitty Apps Pty. Ltd. All rights reserved.

// Fast and small
GCC_OPTIMIZATION_LEVEL = s

// Don't raise assertions in Release code.
CONFIG_GCC_PREPROCESSOR_DEFINITIONS = NS_BLOCK_ASSERTIONS=1 NDEBUG

VALIDATE_PRODUCT = YES
COPY_PHASE_STRIP = YES
DEAD_CODE_STRIPPING = YES

// When enabled, only the active architecture is built for faster debugging turnaround
ONLY_ACTIVE_ARCH = NO
